[Unit]
Description=Sagan daemon
Documentation=man:sagan(8)
Before=rsyslog.service syslog-ng.service

[Service]
Environment=CONFIG=/etc/sagan/sagan.conf
ExecStartPre=/usr/libexec/sagan/sagan-setup $CONFIG
ExecStart=/usr/sbin/sagan -f $CONFIG
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
StandardOutput=null

[Install]
WantedBy=multi-user.target
